header {
  background-color: rgb(15, 18, 34);
  padding: 20px;
  display: flex;
  color: #01bced;
  align-items: center;
  gap: 5px;
}

header img {
  height: 50px;
  width: 50px;
}

header div {
  font-weight: bold;
  font-size: 24px;
}
