.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: gray;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
