.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: green;
}

.add-button:hover {
  opacity: 90%;
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  opacity: 60%;
}

.up-button,
.down-button {
  background-color: blue;
}

.up-button:hover,
.down-button:hover {
  opacity: 70%;
}
